html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__nav {
  border-bottom: 1px solid #58402c;
  padding: 20px 0px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav__logo {
  cursor: pointer;
}

.header__nav__menu ul:first-child li {
  position: relative;
}

.header__nav__menu .fa-caret-down {
  padding: 5px;
}

.header__nav__menu ul li {
  display: inline-block;
  margin-right: 40px;
}

.header__nav__menu a {
  text-decoration: none;
  color: #58402c;
  font-weight: bold;
}

.header__nav__menu a:hover {
  color: #30488f;
}

.header__nav__menu button {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #30488f;
  color: #30488f;
}

.header__nav__menu button a {
  color: #30488f;
  padding: 20px 5px;
}

.header__nav__menu button:hover {
  background-color: #30488f;
  color: white;
}

.header__nav__menu button:hover a {
  color: white;
}

.header__nav__menu button i {
  margin-right: 7px;
  font-size: 15px;
}

.dropdown {
  position: absolute;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid #e1ddd4;
  border-radius: 10px;
  right: -5px;
}

.dropdown ul li {
  display: block;
  margin-right: 10px;
  padding: 10px 10px;
  color: #58402c;
}

.home {
  padding: 100px 0px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home_dx {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.home_dx img {
  width: 600px;
}

.home_sx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.home_sx h1 {
  font-size: 60px;
  color: #58402c;
  padding: 20px 0px;
}

.home_sx p {
  font-size: 30px;
  color: #58402c;
  padding: 10px 0px;
}

.home_sx button {
  border-radius: 10px;
  background-color: #30488f;
  color: white;
  margin: 20px 0px;
  border: 0px;
  padding: 10px 20px;
}

.home_sx button a {
  color: white;
  text-decoration: none;
}

.home_sx button i {
  margin-right: 7px;
  font-size: 15px;
}

.home_sx button:hover {
  background-color: #233569;
  transition: 0.5s;
  color: white;
}

.home_sx span {
  margin: 0px 10px;
  color: lightgrey;
}

.home_sx small > a {
  color: white;
  text-decoration: none;
  color: #58402c;
}

.home_sx small > a:hover {
  color: #233569;
}

.main {
  padding: 100px 0px;
  background-color: #ffe7d2;
  width: 100%;
  height: 500px;
}

.main_first_title {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 30px;
  color: #58402c;
  font-weight: bold;
}

.main_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main_first_element_container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: baseline;
}

.main_first_element {
  padding: 0px 40px;
  width: 20%;
}

.main_first_element img {
  width: 150px;
  height: auto;
}

.main_first_element p {
  font-size: 15px;
  color: #58402c;
}

