.header__nav{
  border-bottom: 1px solid $color_text;
  padding: 20px 0px;
  width: 80%;
  margin: 0 auto;
  @include flex_nav;
}
.header__nav__logo{
  cursor: pointer;
}
.header__nav__menu{
  ul:first-child li{
    position: relative;
  }
  .fa-caret-down{
    padding: 5px;
  }
  ul li{
    display: inline-block;
    margin-right: 40px;
    }
  a{
    text-decoration: none;
    color: $color_text;
    font-weight: bold;
    &:hover{
      color: $color_link_hover_nav;
    }
  }
  button{
    @include radius_button;
    padding: 10px;
    background-color: white;
    border: 1px solid $color_link_hover_nav;
    color: $color_link_hover_nav;
    a{
      color: $color_link_hover_nav;
      padding: 20px 5px;
    }
    &:hover{
      background-color: $color_link_hover_nav;
      color: white;
      a{
        color: white;
      }
    }
    i{
      @include style_icon;
    }
  }
}
