.main{
  @include padding_section;
  background-color: $color_secondary;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main_first_title{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 30px;
  color: $color_text;
  font-weight: bold;
}
.main_container{
  @include format_container;
  text-align: center;
}
.main_first_element_container{
  @include flex_center;
  align-items:baseline;
}
.main_second_element_container{
  @include flex_center;
  img{
    width: 300px;
    height: auto;
    padding: 90px 0px;
  }
}
.main_first_element{
  padding: 0px 40px;
  width: 25%;
  img{
    width: 150px;
    height: auto;
  }
  p{
    font-size: 18px;
    padding-top: 20px;
    color: $color_text;
  }
}
.main_second{
  .main_first_title{
    padding-top: 70px;
  }
  .main_first_element:last-child img{
    width: 70px;
    height: auto;
  }
  .main_second_element_container{
    flex-direction: column;
    h2{
      font-size: 30px;
      color: $color_text;
      font-weight: bold;
    }
  }
}
