.main{
  @include padding_section;
  background-color: $color_secondary;
  width: 100%;
  height: 500px;
}
.main_first_title{
  width: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 30px;
  color: $color_text;
  font-weight: bold;
}
.main_container{
  @include format_container;
  @include flex_center;
  text-align: center;
}
.main_first_element_container{
  display: flex;
  @include flex_center;
  align-items:baseline;
}
.main_first_element{
  padding: 0px 40px;
  width: 20%;
  img{
    width: 150px;
    height: auto;
  }
  p{
    font-size: 15px;
    color: $color_text;
  }
}
