.home{
  @include padding_section;
  @include format_container;
  display: flex;
  justify-content: space-between;
}
.home_dx{
  @include flex_center;
  width: 50%;
  height: auto;
  img{
    width: 600px;
  }
}
.home_sx{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  h1{
    font-size: 60px;
    color: $color_text;
    padding: 20px 0px;
  }
  p{
    font-size: 30px;
    color: $color_text;
    padding: 10px 0px;
  }
  button{
    @include radius_button;
    @include style_button;
    a{
      @include reset_link;
    }
    i{
      @include style_icon;
    }
    &:hover{
      background-color: $color_link_hover_sec_home;
      transition: .5s;
      color: white;
    }
  }
  span{
    margin: 0px 10px;
    color: lightgrey;
  }
  small>a{
    @include reset_link;
    color: $color_text;
    &:hover{
      color: $color_link_hover_sec_home;
    }
  }


}
